@import '../constants/colours.scss';
@import '../constants/sizing.scss';

.display-movies{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
    text-align: center;

    img{
        max-width: 250px;
    }

    .movie-poster{
        padding: 10px;
        width: 250px;
    }
}